# Making the login accounts database

In [1]:
%load_ext sql

In [ ]:
# PrettyTable dependancy has deprecated the default style so needs to be explicitly configured
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
# Change root and admin to be the name of your user and its corresponding password
%sql mysql+pymysql://root:admin@localhost/

In [4]:
%%sql
DROP DATABASE IF EXISTS `projectdb`;
CREATE DATABASE `projectdb`;
USE `projectdb`;

CREATE TABLE IF NOT EXISTS `accounts` (
	`id` int(11) NOT NULL AUTO_INCREMENT,
  	`username` varchar(50) NOT NULL,
  	`password` varchar(250) NOT NULL,
  	`email` varchar(100) NOT NULL,
    PRIMARY KEY (`id`),
	UNIQUE (`email`)
);

-- bcrypt hash 10 rounds
INSERT INTO `accounts` (`id`, `username`, `password`, `email`) VALUES (1, 'test', '$2b$10$084IDHTjhLMSEoxsqOyY3ugAEn7V8pUNCkjJaKw7BAaX.T90FzPcO', 'test@testmail.com');
SELECT * FROM accounts

 * mysql+pymysql://root:***@localhost/
1 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.

[(1, 'test', '$2b$10$084IDHTjhLMSEoxsqOyY3ugAEn7V8pUNCkjJaKw7BAaX.T90FzPcO', 'test@testmail.com')]

In [5]:
%sql describe accounts

 * mysql+pymysql://root:***@localhost/
4 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('username', 'varchar(50)', 'NO', '', None, ''),
 ('password', 'varchar(250)', 'NO', '', None, ''),
 ('email', 'varchar(100)', 'NO', 'UNI', None, '')]